
body{
    font : 1em;
    /*white-space : pre-line;*/
}
/* @media all and (min-width: 991px){
    .search-results {
        width : 100% !important;
    }
}
@media all and (max-width:360px) {
    .search-results {
        display: block;   
    }
    .hotel-image {
        width: 350px;
        height: auto;
    }
}
@media screen and (min-width:991px) and (max-width:1366px) {
    .search-results > * {
        max-width: calc(6 * (100vw / 12) - 28px);
        display: block;
        background-color: teal !important;
        align-content: center;
        align-items: center;
    }
} 
*/

span {
    padding: 5px;
}

hr{
    padding: 0%;
    margin: 0px;
}

#flight-icon {
    height: 5%;
    width: auto;
}

.table-head {
    margin: 45px;
    padding: 1px;
    justify-content: space-evenly;
    align-content: center;
}

.bus-details{
    padding: 5px;
    max-width: 100%;
    height: auto;
    border: 1px solid #00d084 ;
}

.bus-data {
    width: 20%;
    border: 1px solid #00d084 ;
}

.search-results {

    max-width: 100%;
    margin: 0;
    padding: 10px 50px 0 5px;
    height: auto;
    border-radius: 10px;
    justify-content: space-evenly;
    /*align-items: center ;*/

}

.bus-boarding-station{
    max-width: 50%;
    margin: 1px;
    padding: 5px;
}

.bus-duration {
    padding: 20px;
    max-width: 20%;
    justify-content: flex-start;
    align-content: center;
}

.bus-disembark-station {
    max-width: 50%;
    margin: 1px;
    padding: 5px;
    align-content: center;
}

.bus-travels {
    max-width: 40%;
    margin: 1px;
    padding: 5px;
}

.bus-seat-selection {
    max-width: 20%;
    margin: 1px;
    padding: 5px;
}

.select-seat {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    /*margin-left: -2%;*/
    background-color: #54e0f2;
    border-radius: 5px;
    /*display: inline-block;*/
    justify-content: space-evenly;
    /*align-content: center;*/
}

.bus-seat {
    width: 20px;
    height: 20px;
}

.bus-sleeper-seat {
    width: 40px;
    height: 20px;
}
.seat-layout{
    min-width: 24%;
    max-width: 45%;
    min-height: 43%;
    padding: 5px;
    /* border: 2px solid mintcream; */
    border-radius: inherit;
    position: relative;
    display: inline-block;
}

.seat {
    padding: 0;
    position: absolute;
}

.book-hotel {
    float: right;
}
.hotel-image {
    max-height: 200px;
    width: 291px;
}
.hotel-facilities {
    font-size: 0.5rem;
}

img.rupee {
    height: 1em;
    background: transparent;
    padding-bottom: 3px;
}

img.bus {
    height: 2em;
    background: transparent;
}

.hotel-details {
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    /* height: 250px; */
}

.center {
    align-content: center;
    align-items: center;
}

img.star-rating {
    height: 40px;
    margin: 10px;
    padding-top: 0px;
}

.rating.row {
    padding-left: 25px;
}

div.center.rating.row div {
    padding: 0px;
}

.hotel-filter.col-3 {
    width: 230px !important;
}

.widget {
    cursor: pointer;
}

div#Source, div#Destination, div#Price-Detail {
    white-space: nowrap;
}

span.message {
    /*background-color: azure;*/
}